@import "clgeneral.css";

p#explic{
	line-height:1.45em;
}

main ul#lis_ins{
	list-style-type:none;
	background-color:#f9f9fb;
	padding:0 1em;
	margin-top:1.2em;
	border:solid 1px #152f65;
	border-radius:3px;
}

main #lis_ins > li{
	display:flex;
	/* margin:1em 0; */
	border-color:#152f65;
	border-style:solid;
	border-bottom-width:1px;
	border-right:none;
	border-top:none;
	border-left:none;
	padding:2.1em 1em;
}

main #lis_ins > li:last-child{
	border-bottom:none;
}

main #lis_ins > li > p{
	width:32%;
	font-size:1.24em;
}

main #lis_ins > li > div{
	width:68%;
	font-size:0.91em;
	line-height:1.5em;
}

.inst{
	color:#0765ad;
}

.expsi{
	font-style:italic;
}

span.simb{
	font-weight:bold;
	color: #293aca;
}

#lis_ins ol{
	list-style-type:none;
	margin:0.47em 0 0 0.4em;
}

#lis_ins ol li{
	padding:0.3em 0;
}

#cont_igual{
	margin-top:1em;
}

.inst::after{
    content: "K";
    font-family: flechas;
    font-size: 1.1em;
    color: black;
    padding: 0 0.4em;
}
