p#explic{
	margin:1em 0 1em;
	line-height:1.45em;
	max-width:49em;	
}

#lis_ins{
	list-style-type:none;
	background-color:#efeff1;
	padding:0 0.8em;
	margin-top:1.2em;
	border:solid 2px #152f65;
	border-radius:3px;
	max-width:49em;
}

#lis_ins > li{
	display:flex;
	/* margin:1em 0; */
	border-color:#041435;
	border-style:solid;
	border-bottom-width:2px;
	border-right:none;
	border-top:none;
	border-left:none;
	padding:2.1em 1em;
}

#lis_ins > li:last-child{
	border-bottom:none;
}

#lis_ins > li > p{
	width:32%;
	font-size:1.24em;
}

#lis_ins > li > div{
	width:68%;
	font-size:0.91em;
	line-height:1.5em;
}

.inst{
	color:#025798;
}

.expsi{
	font-style:italic;
}

span.simb, span.marca{
	font-weight:bold;
	color:#293aca;
}

span.marca{
	position:relative;
	top:0.15em;
	font-size:1.3em;
	margin:0 0.1em;
}

/* span.simb::before{ */
/* 	content:"'"; */
/* } */

#lis_ins ol{
	list-style-type:none;
	margin:0.47em 0 0 0.4em;
}

#lis_ins ol li{
	padding:0.3em 0;
}

#lis_ins .soniguales{
	margin-left:1.5em;
}

.soniguales li{
	list-style-type:disc;
}

#cont_igual{
	margin-top:1em;
}

.inst::after{
    content:"→";
	font-wight:bold;
    font-size: 1.4em;
    color: black;
    padding: 0 0.2em;
}
