h3{
    margin:0.8em 0 0.6em 0.25em;
    display:inline-block;
    border-bottom:1px solid;
    font-size:1.5em;
	color:#2c4048
}

div#explic{
	margin:0 1em 2.2em 0;
}

div#explic p{
	line-height:1.55em;
	max-width:50em;	
}

.listpro{
    margin: 0.8em 0 0.8em 0.4em;
}

.listpro li{
    list-style-type:square;
    margin:0.8em 0 0.8em 0.8em;
}

.listprod{
	margin:0.6em 0 2.3em 1.3em;
    font-size:0.95em;
}

.listprod li{
	list-style-type:disc;
    margin:0.5em 0 0.7em 0;
}

#iconjunto{
	margin:0 0.15em;
}

#lis_ins{
	list-style-type:none;
	margin-top:1.2em 1em 0 0;
	border-radius:3px;
	max-width:49em;
}

#lis_ins > li{
	display:flex;
	border-bottom:solid 1px #dfe3ea;
	padding:1.1em 0;
}

#lis_ins > li:last-child{
	border-bottom:none;
}

#lis_ins > li > p{
	width:20em;
	font-size:1.24em;
}

#lis_ins > li > div{
	width:45em;
	max-width:100%;
	font-size:0.91em;
	line-height:1.5em;
}

.inst{
	color:#0b385a;
}

.expsi, .inst{
	font-style:italic;
}

span.simb, span.marca{
	font-weight:bold;
	color:#293aca;
}

span.marca{
	position:relative;
	top:0.15em;
	font-size:1.3em;
	margin:0 0.05em;
}

#lis_ins ol{
	list-style-type:none;
	margin:0.47em 0 0 0.4em;
}

#lis_ins ol li{
	padding:0.3em 0;
}

#lis_ins .soniguales{
	margin-left:1.5em;
}

.soniguales li{
	list-style-type:disc;
}

#cont_igual{
	margin-top:1em;
	font-size:0.95em;
}

.inst::after{
    content:"→";
	font-weight:bold;
    font-size:1.4em;
    color:black;
    padding:0 0.2em;
}

.defins > li::before{
    content:"•";
    font-size:0.8em;
    color:#565656;
    padding-right:0.4em;
}

@media (max-width:1000px){
	#lis_ins > li {
		display:block;
	}
	
	#lis_ins > li > p{
		margin:0.2em 0 1.3em 0.3em;
		border:solid 1px #e2e3e4;
		background-color:#f6f7f7;
		display:inline-block;
		width:auto;
		padding:0.2em 0.5em 0.4em;
		border-radius:0.15em;
	}

	h3 {
		margin-bottom:0;
	}
}

@media (max-width:780px){
	div#explic{
		margin-bottom:1em;
	}

	div#explic p{
		line-height:1.6em;
	}
}
