@font-face {
  font-family:flechas;
  src: url(../fuentes/flechas.ttf);
}

#cont-principal{n
	color:#333;
}

#cont-principal main{
	padding:1.7em 10% 0 12%;
	font-size:0.95em;
}

#cont-principal h1{
	padding-bottom:0.4em;
	font-size:2em;
}

main h2{
	margin:0.8em 0 0.6em;
	padding:0 1em 0 0.3em;
	display:inline-block;
	border-bottom:1px solid;
	font-size:1.6em;
}

.nav_pag{
	display:flex;
	margin:2em 9% 3em 9%;
	justify-content:flex-end;
	font-size:1.1em;
}

.nav_pag.nav_pag2{
	justify-content:space-between;
}

@media max-width:799px{
#cont-principal main{
	margin-left:6%;
}
