html{
    --color-nav:#050427;
}

body{
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size:20px;
	background-color:#f7f5f1;
	display:flex;
	flex-direction:column;
	min-height:100vh;
	align-items:stretch;
	align-content:flex-start;
}

#flex_central{
	flex-grow:1;
}

*{margin:0; padding:0;}

*{
	list-style-type:none;
}

img{
    height:auto;
}

#cont-principal{
	color:#333;
	padding:2.7em 0 4em 10%;
	font-size:0.95em;
}

#encabezado{
	font-size:1.25em;
	margin:0 0 1.7em 1em;
}

#encabezado h2{
	font-size:1.6em;
	margin:0.7em 0 0 0;
}

.anchura{
    max-width:1400px;
	margin:0 auto;
	box-sizing:border-box;
}

body > header{
    background-color:#333;
    padding-top:0.3em;
}

#logop{
	position:relative;
	width:11em;
    margin-left:27.5%;
}

#logop img[src*="icono"]{
    width:130%;
    transform: rotate(-23deg);
    position:absolute;
    top:33%;
	left:-120%;
	opacity:0.9;
}

#logop img[src*="letras"]{
	width:100%;
}

#navprinc a, #navprinc a:visited{
	text-decoration:none;
	color:#fff;
	display:block;
}

#scroll_gen{
	position:fixed;
	bottom:1em;
	right:5%;
	background-color:#425094;
	font-size:2em;
	border-radius:0.1em;
	box-shadow:2px 2px 6px 0px #272d58e8;
}

#scroll_gen a{
	display:block;
	padding:0.05em;
}

#scroll_gen a:link, #scroll_gen a:visited{
    color:#bbb;
    text-decoration:none;
}

#scroll_gen.quitaf{
	opacity:0;
	transition:opacity ease 0.5s;
}

#scroll_gen.ponerf{
	opacity:1;
}

#navprinc li.con_triang{
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding-right:0.7em;
	position:relative;
}

#cont-principal > h1{
	padding-bottom:0.4em;
	font-size:2em;
}

main h2{
	margin:0.8em 0 0.6em;
	display:inline-block;
	border-bottom:1px solid;
	font-size:1.5em;
}

body > footer{
    font-size:0.85em;
    border-top:solid 1px #000;
    background:linear-gradient(to bottom, #4c4c4c 0%,#2c2c2c 23%,#2c2c2c 10%,#2c2c2c 11%,#222222 35%,#1c1c1c 78%,#131313 100%);
    padding:1.8em 0;
}

#autor{
    margin:0.1em 0 0.4em 2.4em;
}

#autor > p:first-child{
    font-size:1.2em;
    color:#23a2cc;
    margin:0 0 0.2em 0;
}

#autor address{
    color:#8d928d;
}

.por_hacer{
	text-shadow:none;
	color:#606c96;
}

@media (min-width:888px){
	#navegadorp{
		font-size:1em;
		color:#fff;
		background:linear-gradient(to bottom, #065896 0%,#1e3975 54%,#464c6b 100%);
		border-style:solid;
		border-color:var(--color-nav);
		border-width:1px 0;
		font-weight:bold;
	}

	#nav-resp nav{
		display:block;
	}

	#men-hamburguesa{
		display:none;
	}

	#navprinc > ul{
		margin-left:23%;
	}

	#navprinc > ul > li:hover{
		text-shadow:0 0 0.1em #ccc;
	}

	#navprinc > ul ul{
		box-shadow:0px 0px 1em #070530;
	}

	#navprinc > ul > li{
		display:inline-block;
		position:relative;
		text-shadow:0px 0px 2px var(--color-nav);
	}

	#navprinc li li{
		font-size:0.9em;
		box-sizing:border-box;
	}

	#navprinc li li li{
		font-size:inherit;
	}

	#navprinc h1{
		font-size:1em;
		display:inline-block;
	}

	#navprinc > ul > li > h1 > a{
		padding:0.4em 0.7em;
	}

	#navprinc ul li ul{
		position:absolute;
		top:92%;
		left:0.6em;
		display:none;
		background-color:#213b73;
		white-space:nowrap;
		color:#fff;
		border-top:solid 1px #415165;
		text-shadow:0px 0px 2px #01091b;
	}

	#navprinc > ul > li:first-child > ul{
		left:-0.55em;
	}

	#navprinc li > ul li{
		border-bottom:solid 1px #415165;
		border-top:solid 1px #34405f;
	}

	#navprinc li > ul li a, li.por_hacer{
		padding:0.5em 0.7em;
	}

	#navprinc li > ul li:hover{
		background-color:#384c7f;
		box-shadow:none;
		box-shadow:inset 0 0.3em 0.3em 0 #314579;
	}

	#navprinc > ul > li::before{
		content:"|";
		font-weight:normal;
		color:#1f1b4c;
		text-shadow:1px 1px 2px #434b6f;
	}

	#navprinc ul li:hover > ul{
		display:block;
	}

	#navegadorp nav ul li.con_triang ul{
		position:absolute;
		left:100%;
		top:-2px;
	}

	#navprinc .triang{
		float:right;
		font-size:0.6em;
	}

	#ext_macros{
		display:none;
	}

	#navprinc li:first-child::before{
		content:none;
	}
}

@media (max-width:1000px){
	#cont-principal{
		padding-left:6%;
	}
}
	
@media (min-width:1100px) and (max-width:1399px){
    body{
		/* font-size:18px; */
    }

    body > div:first-child > header{
		padding-top:0.2em;
    }

	#cont-principal{
		/* padding-left:18%; */
	}
}

@media (min-width:888px) and (max-width:1099px){
    body{
		/* font-size:19px; */
    }

	#logop{
		margin-left:30%;
	l}

	#navprinc > ul {
		margin-left:24%;
	}

    body  > div:first-child > header{
		padding-top:0.3em;
    }
}

@media (max-width:887px){
	#cont-principal{
		padding-left:5%;
	}

	#logop{
		margin-left:34.5%;
	}

	#navegadorp{
		background:#223c75;
	}

	body.panel-menu{
		overflow:hidden;
	}

	.panel-menu #nav-resp{
		position:fixed;
		z-index:10;
		background-color:#010615;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background:linear-gradient(to right,  rgba(9,21,48,1) 0%,rgba(13,37,84,1) 69%,rgba(13,19,68,1) 100%);
	}

	#men-hamburguesa{
		display:flex;
		align-items:center;
		float:right;
		padding:0.1em;
		margin:0.5em 6% 0.5em 0;
		--color-menu:#dadee6;
	}

	#men-hamburguesa > span{
		color:var(--color-menu);
		margin-right:0.4em;
		font-size:1.1em;
	}

	#hamburguesa{
		width:1.6em;
	}

	#hamburguesa:hover{
		cursor:context-menu;
	}

	#hamburguesa div, #hamburguesa:before, #hamburguesa:after{
		content:"";
		display:block;
		width:1.3em;
		height:0.15em;
		margin:0;
		background-color:var(--color-menu);
		transition:transform ease 0.3s,
				   opacity ease 0s 0.3s,
				   margin 0.3s ease 0.3s;
	}

	#hamburguesa div{
		margin:0.25em 0;
	}

	.panel-menu #hamburguesa div{
		opacity:0;
		margin:-0.15em 0;
		transition:margin 0.3s;
	}

	.panel-menu #hamburguesa:before{
		transform:rotate(45deg);
		transition-delay:0.3s;
	}

	.panel-menu #hamburguesa:after{
		transform:rotate(-45deg);
		transition-delay:0.3s;
	}

	.panel-menu #men-hamburguesa{
		margin-top:1.5em;
	}

	#navprinc{
		margin-left:-15%;
		height:0;
		overflow:hidden;
	}

	.panel-menu #navprinc{
		font-size:1em;
		width:13em;
		height:calc(100% - 4em);
		overflow:auto;
		margin:2.5em 0 2% 16%;
		transition:margin-left ease 0.3s;
	}
	.panel-menu #nav-resp h1{
		margin:1em 0 0.5em 0;
		color:#e4e0e0;
	}

	.panel-menu #nav-resp li:first-child h1{
		margin-top:0;
	}

	#navprinc > ul > li li{
		margin-bottom:1em;
		font-size:1.1em;
	}

	#navprinc li.con_triang{
		display:block;
		position:relative;
	}

	.triang{
		display:none;
	}

	#navprinc #ext_macros{
		font-size:0.7em;
		color:#e4dcd9;
		padding:0.05em 0.3em 0;
		border-radius:0.1em;
		border:solid 1px #e4dcd9;
		text-shadow:none;
		position:absolute;
		top:0.2em;
		right:3em;
	}

	#ext_macros::before{
		content:"+";
	}

	.extendido #ext_macros::before{
		content:"-";
	}

	#macros_nums.extendido #ext_macros{
		padding:0 0.45em 0.1em;		
	}

	#macros_nums ul{
		max-height:0;
		overflow:hidden;
		font-size:0.8em;
		padding-left:0.45em;
		margin-left:0.15em;
		border-left:solid 1px #66737d;
		transition:max-height ease 1s;
	}	

	#macros_nums.extendido ul{
		max-height:100vh;
		transition:max-height ease 2s;
	}

	#macros_nums ul li:first-child{
		padding-top:0.5em;
	}

	#navprinc #macros_nums li{
		margin-bottom:0.5em;
	}

	#navprinc #macros_nums.extendido{
		margin-bottom:0.9em;
	}

	#navprinc li li a, #navprinc li li a:visited{
		color:#ccbab2;
		text-shadow:1px 1px 2px #58628c;
	}
	
	#scroll_gen{
		bottom:0.2em;
		right:2%;
	}

}

@media (max-width:790px){
	body{
		font-size:20px;
	}

	#encabezado{
		font-size:1.15em;
		margin-left:0.7em;
		margin-bottom:1em;
	}

	#logop{
		margin:0 auto;
		position:relative;
	}

	#logop img[src*="letras"]{
		position:relative;
		z-index:2;
	}

	#logop img[src*="icono"]{
		z-index:2;
		top:60%;
		left:50%;
		transform:translate(-50%, -50%);
		opacity:0.05;
	}

	#cont-principal{
		padding:2em 3%;
	}
	
	#scroll_gen{
		right:3%;
	}
}

@media print{
	body{
		font-size:14pt;
		margin:0;
	}

	@page {
		size:A4;
		margin:4em;
    }

	body > footer,
	body > header,
	body > nav,
	#encabezado h1,
	#nav-resp, #scroll_gen{
		display:none !important;
	}

	#cont-principal{
		padding:0;
	}

	#encabezado h2{
		font-size:1.8em;
		margin:0;
		margin-left:0.5em;
	}

	.np{
		page-break-before:always;
	}
}
