html{
    background-color:#060813;
    font-size:10px;
    --color-nav:#050427;
}

body{
    margin:0;
    padding:0;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size:1.2em;
	background-color:#f7f5f1;
}

*{margin:0; padding:0;}

img{
    height:auto;
}

.anchura{
    max-width:1400px;
	margin:0 auto;
	box-sizing:border-box;
}

#cont-principal{
	 padding:0;
}

header .anchura{
    position:relative;
    padding:0.3em 0.3% 0;
}

body  > header{
    background-color:#333;
}

header img[src*="icono"]{
    width:21%;
    transform: rotate(-20deg);
    position:absolute;
    top:1.4em;
}

header img[src*="letras"]{
    margin-left:21%;
    width:15%;
}

body > nav{
    font-size:1em;
	padding:0.4em 0;
    color:#fff;
    list-style:none;
    background: linear-gradient(to bottom, #065896 0%,#1e3975 54%,#464c6b 100%);
    border-style:solid;
    border-color:var(--color-nav);
    border-width:1px 0; 
    font-weight:bold;
}

body > nav li:first-child{
    margin-left:16%;
}

body > nav li{
    display:inline-block;
    padding:0;
    text-shadow: 0px 0px 2px var(--color-nav);
}

body  > nav li::before{
    content:"|";
    margin:0 1em;
    font-weight:normal;
    color:#1f1b4c;
    text-shadow: 1px 1px 2px #434b6f;
}

body  > nav li:first-child::before{
    content:none;
}

body > footer{
    font-size:0.8em;
    border-top:solid 2px #000;
    background: linear-gradient(to bottom, #4c4c4c 0%,#2c2c2c 27%,#2c2c2c 30%,#2c2c2c 31%,#111111 55%,#1c1c1c 78%,#131313 100%);
    padding:1.2% 0;
}

#autor{
    margin:0.1em 0 0.4em 2.4em;    
}

#autor > p:first-child{
    font-size:1.2em;
    color:#23a2cc;
    margin:0 0 0.2em 0;
}

#autor address{
    color:#8d928d;
}

@media (min-width:1400px){
    body{
		font-size:2em;
    }
	/*  body  > div:first-child > header{ */
	/* padding-top:0.5%; */
	/*  } */
    header img[src*="icono"]{
		top:1.98em;
    }
}

@media (min-width:1100px) and (max-width:1399px){
    body{
		font-size:1.8em;
    }
    body  > div:first-child > header{
		padding-top:0.2em;
    }
    header img[src*="icono"]{
		top:1.7em;
    }
}

@media (min-width:800px) and (max-width:1099px){
    body{
		font-size:1.6em;
    }
    body  > div:first-child > header{
		padding-top:0.3em;
    }
    header img[src*="icono"]{
		top:1.6em;
    }
}
