.gramat{
	font-family:"Times New Roman", Times, serif;
	font-size:0.95em;
	margin:1.4em 0 1.5em 0;
	background-color:#f4f4f5;
	width:fit-content;
	width:-moz-fit-content;
	padding:1em;
	padding-bottom:0.5em;
	border:solid 1px #c2c5c5;
	border-radius:0.12em;
	max-width:100%;
	box-sizing:border-box;
}

.gramat aside{
	font-size:0.85em;
	line-height:1.6em;
	border:solid 1px #e1e2e2;
	border-left-width:0.2em;
	padding:0.5em 0.8em;
	margin:1.6em -0.5em 0 -0.55em;
	background-color:#f6f6f9;
}

.gramat aside dl{
	margin-top:0.2em;
}

.gramat aside dt{
	text-decoration: underline;
}

.nnoterm, .noterm{
	font-style:italic;
}

.gramat .term{
	font-weight:bold;
}

.term{
	font-style:normal;
}

.gramat ol > li{
	display:flex;
	margin-bottom:0.67em;
	overflow-x:auto;
}

.gramat ol > li:last-child{
	margin-bottom:0;
}
.gramat ul li{
	display:inline-block;
}

.separador, .estrella{
	line-height:0;
}

.estrella{
	font-size:0.92em;
}

.gramat ul > li::before{
	content:"｜  ";
	line-height:0;
	font-weight:normal;
}

.gramat ul > li:first-child::before{
	content:none;
}

.noterm::before{
	content:"⟨";
}

.noterm::after{
	content:"⟩";
}

.noterm::before, .noterm::after{
	font-style: normal;
	line-height:0;
}

.gramat .flechag::before{
    content:"→";
	line-height:0;
    font-size:1.4em;
    color:#929191;
    padding:0 0.17em;
	font-style:normal;
}

.gramat sup{
	font-size:0.55em;
}

.gramtexto{
	color:#540d0d;
	font-style:italic;	
}

@media (max-width:790px){
	.gramat{
		max-width:100%;
		font-size:0.9em;
	}

	.gramat ol > li{
		margin-bottom:0.9em;
	}
	
	.gramat ul li{
		white-space:nowrap;
		margin:0 0.4em 0.5em 0;
	}

	.gramat .flechag + div{
		margin-bottom:0.5em;
	}

	.gramat ul > li::before{
		margin-left:-0.4em;
	}
}
