h3{
	font-size:1.1em;
    margin:2em 1em 1em 0;
    border-bottom:solid 1px;
    padding:0 0.5em 0 0.3em;
    width:fit-content;
}

*{
	list-style-type:none;
}

.glue{
	margin-bottom:2.7em;
}

.glue-bot{
	margin-bottom:1.7em;
}

main > aside.aclaración{
	font-size:0.7em;
	border-left:solid 5px #e1e2e2;
	padding:0.8em 0.8em;
	margin-top:1.6em;
	background-color:#f3f3ed;
	width:fit-content;
}

.gramat{
	font-family:"Times New Roman", Times, serif;
	font-size:0.9em;
	margin:1.4em 0 1.5em 0;
	background-color:#f4f4f5;
	width:fit-content;
	padding:1em;
	border:solid 1px #e1e2e2;
	border-radius:2px;
}

.gramat aside{
	font-size:0.8em;
	line-height:1.6em;
	border:solid 1px #e1e2e2;
	border-left-width:3px;
	padding:0.5em 0.8em;
	margin-top:1.6em;
	background-color:#f6f6f9;
}

.gramat aside span{
	font-size:1.2em;
}

/* .gramat aside span::after{ */
/* 	content:"-"; */
/* 	padding:0 0.5em; */
/* } */

.gramat .term{
	font-weight:bold;
}

.gramat ol > li{
	display:flex;
	margin-bottom:0.67em;
}

.gramat ol > li:last-child{
	margin-bottom:0;
}
.gramat ul > li{
	display:inline-block;
}

.gramat .epsilon::before{
	content:"ε";
}

.separador, .estrella{
	line-height:0;
}

.estrella{
	font-size:0.92em;
}

.nnoterm, .noterm{
	font-style:italic;
	padding-right:0.1em;
}

.gramat ul > li::before{
	content:"\｜  ";
	line-height:0;
	font-weight:normal;
}

.gramat ul > li:first-child::before{
	content:none;
} 

.noterm::before{
	content:"⟨";
}

.noterm::after{
	content:"⟩";
}

.noterm::before, .noterm::after{
	font-style: normal;
	line-height:0;
}

.gramat .flechag::before{
    content:"→";
	line-height:0;
    /* font-family:flechas; */
    font-size:1.4em;
    color:#929191;
    padding:0 0.17em;
	font-style:normal;
}

sup{
	vertical-align:super;
	font-size:0.55em;
}

sub{
	vertical-align:sub;
	font-size:0.55em;
}

.comilla{
	position:relative;
    left:-0.15em;
    top:0.1em;
	font-size:1.1em;
}

.comilla span{
	position:relative;
	left:-0.3em;
	margin-right:-0.15em;
}

.mmacro{
	display:flex;
	align-items:center;
}

.mmacro > p{
	display:inline;
	margin-left:1.6em;
	font-size:0.8em;
}

.macro{
	display:flex;
	margin-left:0.4em;
	width:fit-content;
	padding:0.33em 1em;
	background-color:#ecefdd;
	--margin-arriba: 0.2em;
}

code{
	font-family:Consola,Monaco,monospace;
}

.macro > *:first-child, .flecha{
	margin-top:var(--margin-arriba);
}

.flecha::before{
    content:"⮕";
    font-size:0.7em;
    color:#555;
    padding:0 0.6em;
	font-style:normal;
}

.macro > pre:last-child{
	background-color:#fff;
	border:solid 1px #ddd;
	border-radius:3px;
	padding:var(--margin-arriba) 0.4em;
}

.ejemplos h3{
	width:fit-content;
	padding:0 1em 0 0.4em;
	border-bottom:solid 1px;
	margin:2.5em 0 1.1em;
}

.ejemplos ol{
	display:flex;
	font-size:0.85em;
	flex-wrap:wrap;
}

.ejemplos li{
	display:flex;
	margin-bottom:1em;
}

.ejemplos li::after{
	content:"⇒";
	margin:0 1em;
	display:flex;
	align-items:center;
}

.ejemplos li:last-child::after{
	content:none;
}

.ejemplos pre{
	background-color:#222;
	color:#eee;
	padding:0.7em;
	border:solid 2px #53545a;
	min-width:4em;
	border-radius:4px;
}
