main{
	--glue-macro:1.7em;
	--color-exp:#034ea0;
}

h3{
	font-size:1.35em;
    margin:0 1em 1.8em 0;
    border-bottom:solid 1px;
    padding:0 0.5em 0 0.2em;
    width:fit-content;
	width:-moz-fit-content;
}

aside.aclarcn{
	display:flex;
	align-items:center;
	font-size: 0.8em;
    line-height: 1.5;
	border-left:solid 5px #e1e2e2;
	padding:0.5em 0.8em;
	margin:1.6em 0 4.5em;
	background-color:rgb(225,226,226,0.18);
    max-width:50em;
	width:fit-content;
	width:-moz-fit-content;
}

.aclarcn::before{
	content:"✎";
	font-size:1.5em;
	margin:0 0.45em 0 0.15em;
	position:relative;
	color:#3a3c4e;
}

.expansor .warn{
	color:#080e56;
}

sub, sup{
	line-height:0;
}

.glue{
	margin-bottom:2.7em !important;
}

.glueg{
	margin-bottom:4.4em !important;
}

.gluepar{
	margin-bottom:1.3em !important;
}

.expansor.glue{
	margin-bottom:3.7em !important;
}

.acercar{
	margin-left:-0.35em;
}

.alejar{
	margin-right:0.15em;
}

.alejarsup{
	margin-left:0.15em;
}

.acercarsup{
	margin-left:-0.15em;
}

.noterm sub, .acercarder{
	margin-right:-0.15em;
}

sub.subp{
	font-size:0.6em;
}

.postulado h1, .expansor h1, dl.expansor dt{
	padding:0.35em 1.6em 0.3em 0.65em;
	width:fit-content;
	width:-moz-fit-content;
	margin-bottom:0.8em;
	font-weight:bold;
	border-left:solid 0.15em;
}

.expansor .titpeq{
	font-size:1.25em;
}

.expansor .noexp{
	font-weight:normal;
	color:inherit;
	font-size:0.9em;
	margin:0 0.2em 0 0.3em;
}

.expansor aside.aclarcn{
	border:1px solid #e7eefd;
	background-color:rgba(222, 229, 234, 0.18);
	font-size: 0.9em;
	margin-bottom:1em;
}

.gramat{
	font-family:"Times New Roman", Times, serif;
	font-size:0.95em;
	margin:1.4em 0 1.5em 0;
	background-color:#f4f4f5;
	width:fit-content;
	width:-moz-fit-content;
	padding:1em;
	border:solid 1px #c2c5c5;
	border-radius:0.12em;
}

.gramat aside{
	font-size:0.8em;
	line-height:1.6em;
	border:solid 1px #e1e2e2;
	border-left-width:3px;
	padding:0.5em 0.8em;
	margin:1.6em -0.5em 0 -0.55em;
	background-color:#f6f6f9;
}

.gramat aside dl{
	margin-top:0.2em;
}

.gramat aside dt{
	text-decoration: underline;
}

.nnoterm, .noterm{
	font-style:italic;
}

.gramat .term{
	font-weight:bold;
}

.term{
	font-style:normal;
}

.gramat ol > li{
	display:flex;
	margin-bottom:0.67em;
}

.gramat ol > li:last-child{
	margin-bottom:0;
}
.gramat ul > li{
	display:inline-block;
}

.separador, .estrella{
	line-height:0;
}

.estrella{
	font-size:0.92em;
}

.gramat ul > li::before{
	content:"\｜  ";
	line-height:0;
	font-weight:normal;
}

.gramat ul > li:first-child::before{
	content:none;
}

.noterm::before{
	content:"⟨";
}

.noterm::after{
	content:"⟩";
}

.noterm::before, .noterm::after{
	font-style: normal;
	line-height:0;
}

code .noterm::before, code .nnnoterm::after{
	margin:0 -0.2em 0 -0.1em
}

.llavec{
	margin-left:-0.1em;
}

.gramat .flechag::before{
    content:"→";
	line-height:0;
    font-size:1.4em;
    color:#929191;
    padding:0 0.17em;
	font-style:normal;
}

sup{
	vertical-align:super;
	font-size:0.6em;
}

.gramat sup{
	font-size:0.55em;
}

sub{
	vertical-align:sub;
	font-size:0.7em;
}

.ejemplos sub, .ejemplos sup{
	font-size:0.6em;
}

.noterm sub, .noterm sup{
	font-style:normal;
}

.ejemplos sub.acercar{
	margin-left:-0.25em;
}

.macro .numnat{
	margin-left:-0.2em;
}

.macro .numnaty{
	margin-left:-0.25em;
}

.macro .numnatf{
	margin-left:-0.3em;
}

.macro .numnatv{
	margin-left:-0.1em;
}

.macro .vacento, .gramat .vacento{
	margin-left:-0.95em;
}

.macro .numnatt{
	margin-left:-0.1em;
	font-size: 0.65em;
}

.gramat .suby{
	margin-left:-0.15em;
	font-size:0.7em;
}

.gramat .vacento{
	margin-left:-0.5em;
}

.macro sub{
	font-size:0.6em;
}

.comilla span{
	position:relative;
	left:-0.1em;
	margin-right:-0.3em;
}

.comilla.comgr span{
    font-size:1.3em;
	top:0.1em;
}

.comilla.comletra span{
    top:0.1em;
}

.mmacro{
	display:flex;
	align-items:center;
	margin-bottom:var(--glue-macro);
}

.mmacro .macro{
	margin-bottom:0;
}

.mmacro > p{
	margin-left:1.6em;
	font-size:0.9em;
}

.mmacro .macrodond{
	margin-left:2.6em;
	font-size:0.9em;
}

.mmacro .macrodond, .mmacro p{
	color:#3c4a3d;
}

.mmacro .macrodond ul{
	margin:0.4em 0 0 0.2em;
	list-style-type:none;
	font-size:0.9em;
}

.mmacro .macrodond li{
	margin-bottom:0.55em;
}

.mmacro .macrodond li::before{
	content:"•";
	color:#3c4a3d;
	margin-right:0.4em;
	font-wight:normal;
}

.macro{
	display:flex;
	margin-left:0.1em;
	width:fit-content;
	width:-moz-fit-content;
	padding:0.33em 1em;
	background-color:#ecefdd;
	border:solid 1px #e8ead7;
	border-radius:0.15em;
	line-height:1.7em;
	margin-bottom:var(--glue-macro);
	--margin-arriba: 0.2em;
}

.mmacro_exp{
	background-color:#ecefdd;
	border:solid 1px #e8ead7;
	border-radius:0.15em;
	width:fit-content;
	width:-moz-fit-content;
	margin-bottom:var(--glue-macro);
}

.mmacro_exp .secundario{
	background-color:#f5f5f5;
	margin:0.5em 0.4em 0.4em;
	border:solid 1px #e8ead7;
	border-radius:0.15em;
	padding:0.4em;
}

.mmacro_exp .secundario .casos{
	display:flex;
	align-items:center;
}

.mmacro_exp .secundario .casos p{
	margin:0 2em;
}

.mmacro_exp .secundario .casos  pre{
	margin:1em 1em 1em 1.5em;
	font-size:0.8em;
}

.mmacro_exp h1{
	color:#4e5f50;
	width:fit-content;
	width:-moz-fit-content;
	font-size:1.11em;
	margin:0.2em 0 0.2em 0.2em;
	border-left: solid 4px;
	padding:0.1em 1em 0.1em 0.4em;
}

.mmacro_exp .macro{
	border:none;
	margin:0;
}

.mmacro_exp .secundario p{
	font-size:0.85em;
	line-height: 1.5em;
    padding: 0.3em;
	max-width:27em;
}

.macro.flech{
	padding-right:2em;
}

.macro.flechn{
	padding-right:3em;
}

.macro > *:first-child, .flecha{
	margin-top:var(--margin-arriba);
}

.macro.larga{
	flex-direction:column;
}

.macro.larga pre, .macro.larga .flecha{
	text-align:center;
}

.macro.larga .flecha{
	font-size:1.2em;
	transform:rotate(90deg);
}

.flecha::before{
    content:"⮕";
    font-size:0.7em;
    color:#555;
    padding:0 0.6em;
	font-style:normal;
}

.macro > pre:last-child{
	background-color:#fff;
	border:solid 1px #ddd;
	border-radius:0.13em;
	position:relative;
	padding:var(--margin-arriba) 0.6em;
}

#cont-principal .ejemplos h1{
	font-size:1.15em;
	width:fit-content;
	width:-moz-fit-content;
	padding:0 1em 0 0.4em;
	border-bottom:solid 1px;
	border-left:solid 0.3em;
	margin:0.5em 0 0.9em;
}

.ejemplos{
	margin-bottom:2.5em;
	font-size:0.95em;
}

.ejemplos.noult{
	margin-bottom:0;
}

.ejemplos ol{
	display:flex;
	font-size:0.85em;
	flex-wrap:wrap;
	font-family:Consola, Monaco, monospace;
}

.ejemplos > ol > li{
	display:flex;
	margin-bottom:2.7em;
}

.ejemplos > ol > li::after{
	content:"⇒";
	margin:0 0.7em;
	display:flex;
	align-items:center;
	font-size:2em;
}

.ejemplos > ol > li:last-child::after{
	content:none;
}

.ejemplos li > div{
	border:solid 2px #767888;
	border-radius:4px;
	line-height:2em;
	position:relative;
	display:flex;
}

.ejemplos.complicado li > div{
	line-height:2.5em;
}

pre.complicado{
	line-height:2em;
}

.ejemplos li ol{
	display:flex;
	flex-direction:column;
	padding:0.85em 0.2em 0.4em 0.4em;
	border-right:solid 2px #465254;
	text-align:right;
	color:#a2a1a1;
	background-color:#484646;
}

.ejemplos pre{
	background-color:#222;
	color:#eee;
	padding:0.7em;
	min-width:6em;
}

.ejemplos div.flech{
	margin-right:1em;
}

.ejemplos .puntitos{
	display:flex;
	align-items:center;
	font-size:1.5em;
}

.ejemplos pre .puntitos{
	display:inline;
	padding-left:0.2em;
}

.puntitos::before{
	content:"...";
}

.expansor{
	font-size:0.9em;
	margin:3.5em 0 3.9em;
	max-width:60em;
	line-height: 1.7em;
	border-bottom:dotted 1px #c8d5d8;
    padding-bottom:0.6em;
}

/* .expansor.simple{ */
/* 	border-bottom:none; */
/* 	padding-bottom:0; */
/* } */

#cont-principal .expansor .ejemplos h1{
	margin:2em 0 1.6em 1.5em;
}

#cont-principal dl.expansor dt, .expansor h1{
	font-size: 1.45em;
    color: var(--color-exp);
    border-left: solid 0.25em var(--color-exp);
    background-color: rgba(3, 88, 181, 0.04);
}

dl.expansor dt{
	padding:0.1em 1.6em 0.1em 0.35em;
	width: fit-content;
	width:-moz-fit-content;
	margin-bottom:0.8em;
	padding-left:0.65em;
	font-weight: bold;
}

dl.expansor dt.flechita::before{
	font-weight: bold;
}

.expansor ol{
	margin-left:1.6em;
}

.expansor > ol, .expansor dd ol{
	margin-top:0.5em;
}

.expansor li{
	list-style-type:square;
}

.expansor li li{
	list-style-type:disc;
	margin:0.2em 0;
	font-size:0.95em;
}

.expansor .interior li{
	margin-left:1.2em;
	list-style-type:circle;
}

.expansor .mimp{
	font-size:1.1em;
}

.postulado{
	font-size:0.85em;
	margin-bottom:0.9em;
	padding:1.1em;
	border:solid 1px #ced6ce;
	border-radius:0.2em;
	max-width:44em;
}

.postulado h1{
	font-size:0.9em;
	background-color:#edefed;
	color:#474e22;
}

.postulado > ol{
	margin:0.9em 0 0 1.5em;
}

.postulado > ol li{
	list-style-type:square;
	margin-bottom:0.55em;
}

.postulado > ol ol{
	margin:0.75em 0 0 1.5em;
}

.postulado > ol ol li{
	list-style-type:disc;
	margin-bottom:0.3em;
}

.postulado li:last-child{
	margin-bottom:0.55em;
}

.postulado .discos li{
	list-style-type:disc;
}

.flechita{
	font-size:0.7em;
	position:absolute;
	left:100%;
	font-weight:bold;
}

.flechita::before{
	content:"←";
	font-weight:normal;
}

pre .flechita::before{
	padding-left:0.4em;
}

.ejemplos .flechita::before{
	color:#111f;
	font-size:1.25em;
}

.flechita, .ejemplos .flechita .pos_puntos{
	color:var(--color-exp);
}

.ejemplos .pos_puntos, .ejemplos .var_exp{
	color:#77aeea;
}

.ejemplos .var_exp{
	font-size:0.95em;
}

.pos_puntos, .var_exp{
	font-weight:bold;
	color:var(--color-exp);
}

.pos_puntos::before, .var_exp::before, .var_exp::after{
	content:":";
	font-style:normal;
	color:#f536c0;
}

.macro .pos_puntos::before{
	margin-right:-0.13em;
}

.pos_puntos::before{
	position: relative;
    bottom:0.1em;
}

.pbajo.pos_puntos::before{
	position:static;
}

.expansor .flechita{
	position:static;
}

.expansor dt .pos_puntos::before{
	bottom:0;
}

.expansor dd .flechita, .expansor .flechita{
	font-size:inherit;
}

.expansor .flechita::before{
	position:relative;
	bottom:0.1em;
}

.expansor .ppuntos .flechita::before{
	bottom:0.19em;
}

.macro .pos_puntos::before{
	bottom:0;
}

.discos > li{
	list-style-type:disc !important;
}

/* sub .comil{ */
/* 	position:relative; */
/* 	font-size:1.6em; */
/*     top:0.2em; */
/*     left:-0.1em; */
/* } */

pre sub .comil{
    left:-0.2em;
}

/* colores gramática */

.gramtexto{
	color:#540d0d;
}

.numbers{
	color:#83f5fd;
}

.numberp{
	color:#bd8cf9;
}

.simbind{
	color:#e06161;
}

.simbexp{
	color:#fdaab9;
}

.simbexp2{
	color:#77aeea;
}

.pclave{
	color:#f3e3a5;
}

.nvars{
	color:#9cda96;
}

.ejemplos .id_exp{
	color:#fba26a;
	font-size: 0.6em;
}

.preproc{
	color:#e778f9;
}

.booleano{
	color:#19b102;
}
