@import url("./pantalla.css");

pre{
	font-family:escribir;
}

main{
	font-size:0.83em;
}

#sel_color{
	display:flex;
	padding:0.3em 1% 0.3em 0;
	align-items:center;
	font-size:1.1em;
	justify-content:flex-end;
}

#sel_color ul{
	display:flex;
	padding:0 0.33em;
	list-style-type:none;
	align-items:center;
}

#sel_color li{
	width:0.8em;
	height:0.8em;
	margin-left:0.2em;
	border-radius:50%;
	cursor:pointer;
	border:solid 1px #666;
}

#sel_color li.seleccionado{
	width:1.1em;
	height:1.1em;
	cursor:default;
}

#sel_color #sel_oscura{
	background-color:#111;
}

#sel_color #sel_clara{
	background-color:#eee;
}

#editor.oscuro #sel_color{
	color:#ddd;
}

#editor{
	box-sizing:border-box;
	width:46em;
	max-width:100%;
	margin:2em 0;
	padding:0.47em;
	border-radius:5px;
	font-size:1.1em;
}

#pantalla{
    display:flex;
    align-items:stretch;
    line-height:1.6em;
}

#pantalla > div{
    padding-top:0.4em;
}

#pantalla #nums{
    list-style-type:none;
    text-align:right;
	padding:0 0.3em;
}

#pantalla > div:first-child{
    flex-grow:0;
    flex-shrink:0;
    overflow:hidden;
	border-right-style:solid;
	border-right-width:1px;
}

#pantalla > div:last-child{
    flex-grow:1;
    white-space:pre;
    word-wrap:normal;
    overflow:auto;
	padding-left:0.3em;
}

.oscuro #pantalla > div:last-child{
	color:#fbd8b8;
}

#pantalla > div:last-child::selection{
  color:#ddd; 
  background-color:#6b5b02;
}

#pantalla > div:last-child span,
#pantalla > div:last-child sup,
#pantalla > div:last-child sub{
	line-height:0;
}

.editor_corto{
	height:85vh
}

@media (max-width:790px){
	#cont-principal {
		padding: 2em 1%;
	}
}

@media print{	
	.editor_corto{
		height:auto;
	}

	#sel_color{
		display:none;
	}

	#nums{
		color:#6765656b;
	}

	#pantalla > div:first-child{
		background-color:#fff;
		border:none;
	}

	#pantalla > div:last-child{
		padding-left:0;
	}

	#editor, #editor .screen, #pantalla > div:first-child{
		border:none !important;
	}

	#editor{
		height:100%;
		width:100%;
		margin:0;
		padding:0;
		font-size:1.3em;
	}

	*{
		overflow:hidden !important;
	}
	
	#pantalla > div:last-child {
		margin-left:0.5em;
	}

/* 	.corte{ */
/* 		line-height:2em; */
/* 	} */
/* } */
