#pizarra *::selection{
	 background-color:#eef595;
	 color:#222304;
}

#pizarra br::selection{
	 background-color:transparent;
}

#pizarra span{
	font-weight:bold;
}

#pizarra:focus{
    outline-style: none;
}

#pizarra sub { 
  vertical-align: sub;
  font-size: smaller;
}

#pizarra .mcnombre{
	color:#751414;
}

#pizarra .var_mc{
	color:#db8181;
}

#pizarra .var_simb{
	color:#4abff9;
}

#pizarra .simbol{
	color:#1649ab;
}

#pizarra .akzioa{
	color:#5d9108;
}

/* #pizarra .mcfinal .var_simb{ */
/* 	color:#9ea223; */
/* } */

#pizarra .mcfinal{
	color:#037010;
}
