@font-face {
  font-family:escribir;
  src: url(../fuentes/Typewriter_dry.otf);
}

@font-face {
  font-family:alemana;
  src: url(../fuentes/Bertholdr_Mainzer_Fraktur.ttf);
}

#pizarra{
font-family:"escribir"
}

#pizarra *::selection{
	 background-color:#eef595;
	 color:#222304;
}

#pizarra br::selection{
	 background-color:transparent;
}

#editor{
	 background-color:#78848e;
	 border:solid 2px #5a616f;
}

#editor .screen{
    border-color:#56626b;
	background-color:#eaeaea;
	color:#333;
}

#pantalla{
    --colnums:#b0b1b3;
	border:solid 1px var(--borde-pantalla);
	border-left-color:var(--colnums);
}

#pantalla > div:first-child{
	background-color:#e1e3e4;
	border-right-color: var(--colnums);
	border-left: solid 1px #333;
    color:var(--colnums);
}

#pizarra sub { 
  vertical-align: sub;
  font-size:0.7em;
}

.mcnombre, .var_mc, .mcfinal{
	font-family: 'alemana';
	letter-spacing:0.11em;
	font-size:1.1em;
}

#pizarra .mcnombre{
	color:#751414;
}

#pizarra .var_mc{
	color:#db8181;
}

#pizarra .var_simb{
	color:#4abff9;
}

#pizarra .simbol{
	color:#1649ab;
	font-family: 'monospace';
}

#pizarra .akzioa{
	color:#5d9108;
}

#pizarra .llave{
	color:#000;
}

#pizarra .mcfinal{
	color:#037010;
}

/*============================
*  Colores de editor oscuro
*=============================*/

#editor.oscuro{
	--colnums:#676565;
	background-color:#343f48;
	border:solid 2px #11131d;
}

#editor.oscuro #pantalla > div:first-child{
	background-color:#2c3042;
	border-right-color:#4a4a4a;
    color:#676565;
}

#editor.oscuro .screen{
	background-color:#222;
	border-color:#020c2d;
}

#editor.oscuro #pizarra, #editor.oscuro #minib{
	color:#DDD;
}

#editor.oscuro .var_simb{
	color:#599cbd;
}

#editor.oscuro .var_mc{
	color:#c38383;
}

#editor.oscuro .akzioa{
	color:#d6d4af;
}

#editor.oscuro .llave{
	color:#fff;
}

#editor.oscuro .mcnombre{
	color:#bf4747;
}

#editor.oscuro .simbol{
	color:#4b75c7;
}

#editor.oscuro .mcfinal{
	color:#859c88;
}
