@font-face {
  font-family:escribir;
  src: url(../fuentes/Typewriter_dry.otf);
}

@font-face {
  font-family:alemana;
  /* src: url(../fuentes/Bertholdr_Mainzer_Fraktur.ttf); */
  src: url(../fuentes/Kleist-Fraktur.ttf);
}

h3{
    margin:0.8em 0 0.6em 0.25em;
    display:inline-block;
    border-bottom:1px solid;
    font-size:1.5em;
    color: #2c4048;
}

h3#ej{
	margin-top:2em;
	border-bottom:none;
	color:#2d5363;
}

aside.gram_ac{
	line-height:1.55em;
	font-size:0.86em;
	margin:2em 0 1.1em;
	background-color:#f3f3f3;
	padding:0.7em 1.3em;
	border-left:3px solid #e0e0e0;
	width: fit-content;
}

aside.gram_ac > p{
	line-height:1.85em;
	margin-bottom: 0.5em;
}

h3 + p{
	line-height:1.5em;
}

.gramat{
	font-size:1em;
}

.gramat > ol > li{
	margin:1em 0;
}

.gramat ol > li:last-child{
    margin-bottom:0.5em !important;
}

.gramat ol > li:first-child{
    margin-top:0.5em;
}

dl{
	margin:0.8em 0;
}

dt{
	font-size:1.1em;
	font-weight:bold;
	color:#3d5bb7;
	margin:1em 0 0.2em;
	padding:0 0.8em 0 0.1em;
}

dl span{
	font-style: italic;
}

dl .noterm{
	color:#333;
	font-weight:normal;
}

dl .noterm sub{
	font-style:normal;
}

#editor{
	margin-bottom:5.5em;
	width:fit-content;
	width:-moz-fit-content;
	max-width:100%;
}

#editor > li{ 
	border-bottom:solid 1px #e4e4e4;
	padding:1em 0;
	padding-right:2em;
}

#editor li > *{
	box-sizing:border-box;
}

#editor li:last-of-type{
	border:none;
}

/* #editor pre{ */
/* 	border-radius:3px; */
/* 	background-color:#fff; */
/* 	padding:0.5em 0.5em; */
/* 	min-width:23em; */
/* 	overflow-x:auto; */
/* 	/\* line-height:1.8em; *\/ */
/* } */

#editor pre.mal{
	border-color:#870202;	
}

#editor span.error{
	color:#870202;
	font-size:1.1em;
}

p{
	max-width:50em;
}

#editor p{
	line-height:1.6em;
	font-size:0.95em;
	margin-top:1em;
}

#editor p + ul li{
	margin-top:0.4em;
	font-size:0.9em;
}

#editor li li > p{
	margin-top:0;
}

.ejemplo{
	font-family:escribir;
	border:solid 2px #027b05;
	box-shadow:0px 0px 2px 1px #027b05;
    border-radius:4px;
    line-height:2.3em;
    display:flex;
	width:fit-content;
    width:-moz-fit-content;
	max-width:100%;
}

.ejemplo sub{
	font-size:0.7em;
}

.ejemplo span, .ejemplo sub{
	line-height:0;
}

.ejemplo.mal{
	border-color:#94031d;
	box-shadow:0px 0px 2px 1px #94031d;
}

.ejemplo ol{
    display:flex;
    flex-direction:column;
    padding:0.7em 0.2em 0.4em 0.4em;
    border-right:solid 2px #465254;
    text-align:right;
    color:#a2a1a1;
    background-color:#484646;
}

.ejemplo div{
	white-space:pre;
    background-color:#222;
 	color:#fbd8b8;
    padding:0.7em;
	padding-bottom:0.4em;
    overflow-x:auto;
}

.ejemplo code{
	font-family:escribir;
}

.mcnombre, .var_mc, .mcfinal{
	font-family:alemana;
	letter-spacing:0.11em;
	font-size:1.1em;
}

@media (max-width:950px){
	#editor {
		margin-bottom:1.5em;
	}
	
	#editor > li {
		padding-right:0;
	}

	aside.gram_ac > p {
		margin-bottom: 0.5em;
	}
}
