#cont-principal{
	/* font-size:0.83em; */
	--textocolor:#333;
	color:var(--textocolor);
}

#cont-principal main{
	padding:1.7em 10% 8em 12%;
}

#cont-principal ul{
	list-style:none;
}

#cont-principal h1{
	padding-bottom:0.4em;
	font-size:2em;
}

main h2{
	margin:0.3em 0 0.6em;
	padding-right:1em;
	display:inline-block;
	border-bottom:1px solid;
	font-size:1.6em;
}

main h2#ej{
	margin-top:1em;
}

aside.gram_ac{
	line-height:1.55em;
	font-size:0.86em;
	margin:2em 0 1.1em;
	background-color:#ecebe4;
	padding:0.7em 1.3em;
	border-left:3px solid #d0cdb4;
	width: fit-content;
}

.gramat{
	font-size:1em;
}

.gramat > ol > li{
	margin:1em 0;
}

.gramat ol > li:last-child{
    margin-bottom:0.5em !important;
}

.gramat ol > li:first-child{
    margin-top:0.5em;
}

dl{
	margin:0.8em 0;
}

dt{
	font-size:1.1em;
	font-weight:bold;
	color:#3d5bb7;
	margin:0.55em 0 0.2em;
	padding:0 0.8em 0 0.1em;
}

dl span{
	font-style: italic;
}

#sprint{
	color:#333;
	font-weight:normal;
}

#ejtrozos li > *{
	box-sizing:border-box;
}

#ejtrozos li{ 
	border-bottom: solid 1px #444;
	padding:1em 0;
	display:flex;
}

#ejtrozos li:last-of-type{
	border:none;
}

#ejtrozos pre{
	border:solid 2px #004f02;
	border-radius:3px;
	background-color:#fff;
	padding:0.5em 0.5em;
	width:35%;
	overflow-x:auto;
}

#ejtrozos pre.mal{
	border-color:#870202;	
}

#ejtrozos span.error{
	color:#870202;
	font-size:1.1em;
}

#ejtrozos p{
	width:63%;
	font-size:0.85em;
	padding:0.3em 0 0.3em 1em;
}

@media max-width:799px{
#cont-principal main{
	margin-left:6%;
}
