body main{
    display:flex;
}

main section:first-child{
    /*width:70%;*/
}

main section:last-child{
    width:37%;
}

#editor{
	 --borde-pantalla:#280303;
	 margin:2em 10% 5em;
	 padding:0.34em;
	 background-color:#6f2020;
	 border:solid 2px var(--borde-pantalla);
	 border-radius: 5px;
}

#pantalla{
    --colnums:#b0b1b3;
    --pad-pantalla:0.2em;
    --fontsize-pantalla:0.8em;
    --colpizarra:#fcfcfc;
	 --heigth-pantalla:10em;
    font-size:var(--fontsize-pantalla);
    display:flex;
    align-items:stretch;
    line-height:1.34em;
    height:var(--heigth-pantalla);
    overflow:auto;
    border:solid 1px var(--borde-pantalla);
    border-left:solid 0.1em var(--colnums);
}

#pantalla #nums{
    list-style-type:none;
    display:inline-block;
    text-align:right;
    padding-top:var(--pad-pantalla);
    padding-bottom:var(--heigth-pantalla);
}

#pantalla > div:first-child{
    flex-grow:0;
    flex-shrink:0;
    padding:0 0.3em;
    background-color:#edf1f3;
    border-right:solid 1px var(--colnums);
    color:var(--colnums);
    overflow:hidden;
}

#pantalla > div:last-child{
    background-color:var(--colpizarra);
    font-family:monospace;
    flex-grow:1;
    padding-left:0.2em;
    white-space:pre;
    word-wrap:normal;
    overflow:auto;
}

#pantalla #pizarra{
    display:inline-block;
    min-height:97%;
    min-width:100%;
    box-sizing:border-box;
    padding-top:var(--pad-pantalla);
	 color:#333;
}

#pizarra p::selection{
	 background-color:#eef595;
	 color:#222304;
}

#pizarra br::selection{
	 background-color:transparent;
}

#pantalla #pizarra:focus{
    outline-style: none;
}

span{font-size:var(--fontsize-pantalla);background-color:var(--colpizarra);}

#pantalla #pizarra p, #pantalla #nums li{
    padding:1px 0; border:solid 1px red;
}

#pantalla #pizarra p:first-child{
    border:1px solid transparent;/*var(--colpizarra); */
    box-sizing:border-box;
    padding:0;position:relative;
}

/*#pantalla #pizarra p:first-child::before{

     position:relative;z-index:-5;left:-5em; 
}*/

#pantalla #pizarra p:empty::before{
    content:"\200b";
}
